@import "tailwindcss";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  --color-rosa-suave: #f4acb7;
  --color-rosita-claro: #FFCAD4;
  --color-borde-navbar: #9D8189;
  --color-fondo-productos: #F8EBEB;
  --color-fondo-coral: '#FCD5CE'
}